In [162]:
!pip3 install kaggle

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kaggle in /home/jose/.local/lib/python3.8/site-packages (1.5.9)
Requirement already satisfied: python-slugify in /home/jose/.local/lib/python3.8/site-packages (from kaggle) (4.0.1)
Requirement already satisfied: tqdm in /home/jose/.local/lib/python3.8/site-packages (from kaggle) (4.51.0)
Requirement already satisfied: urllib3 in /usr/lib/python3/dist-packages (from kaggle) (1.25.8)
Requirement already satisfied: slugify in /home/jose/.local/lib/python3.8/site-packages (from kaggle) (0.0.1)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from kaggle) (2.22.0)
Requirement already satisfied: certifi in /home/jose/.local/lib/python3.8/site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in /usr/lib/python3/dist-packages (from kaggle) (2.7.3)
Requirement already satisfied: six>=1.10 in /usr/lib/python3/dist-packages (from kaggle) (1.14.0)
Requirement already satisfied: text-unidecode>=1.3 in /home/jose/.local/lib/python3.8/site-packages (from python-slugify->kaggle) (1.3)
WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [163]:
!kaggle datasets download -d teajay/global-shark-attacks

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/jose/.kaggle/kaggle.json'
global-shark-attacks.zip: Skipping, found more recently modified local copy (use --force to force download)

In [164]:
!tar -xzvf global-shark-attacks.zip

tar: Esto no parece un archivo tar
tar: Saltando a la siguiente cabecera

gzip: stdin: invalid compressed data--length error
tar: Child returned status 1
tar: Error is not recoverable: exiting now

In [165]:
import pandas as pd
import numpy as np

In [166]:
attacks = pd.read_csv("../data/attacks.csv",encoding='cp1252')

In [167]:
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [297]:
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [298]:
attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [299]:
attacks.Injury

0        No injury to occupant, outrigger canoe and pad...
1                               Minor injury to left thigh
2             Injury to left lower leg from surfboard skeg
3                                Minor injury to lower leg
4        Lacerations to leg & hand shark PROVOKED INCIDENT
                               ...
25718                                                  NaN
25719                                                  NaN
25720                                                  NaN
25721                                                  NaN
25722                                                  NaN
Name: Injury, Length: 25723, dtype: object

In [300]:
attacks['Case Number'].isin(attacks['Case Number.1']).value_counts()

True     23299
False     2424
Name: Case Number, dtype: int64

In [301]:
# SOlo hay un 10 por ciento de diferencia asi que se puede eliminar la columna y no me interes mucho esta columna
attacks_= attacks.drop(['Case Number'], axis = 1)

In [302]:
# realizo esta funcion para quitar todas las filas completa de NaN
attacks_1 = attacks_.dropna(how='all')
attacks_1

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN

In [303]:
attacks_1['Unnamed: 22']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6304    NaN
6305    NaN
6306    NaN
6307    NaN
6308    NaN
Name: Unnamed: 22, Length: 6309, dtype: object

In [304]:
#Hago lo mismo con las columnas
attacks_2 = attacks_1.dropna(axis=1, how='all')
attacks_2

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN

In [322]:

attacks_3 = attacks_1
attacks_3

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN

In [323]:
# verifico si son parecidas
attacks_3['Case Number.1'].isin(attacks_3['Case Number.2']).value_counts()

True     6290
False      19
Name: Case Number.1, dtype: int64

In [372]:
# Elimino las columnas que no me interesan
attacks_4 = attacks_3.drop(['Unnamed: 22', 'Unnamed: 23', 'Name', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order'], axis = 1)
attacks_4

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [373]:
attacks_4 = attacks_4.dropna(how='all')
attacks_4

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

In [374]:
attacks_4 = attacks_4.fillna(0)
attacks_4

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,0,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,0,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,0,Minor injury to lower leg,N,0,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,0,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,0,FATAL,Y,0,0,"H. Taunton; N. Bartlett, p. 234"
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,0,Pearl diving,M,0,FATAL,Y,0,0,"H. Taunton; N. Bartlett, pp. 233-234"
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,0,FATAL,Y,0,0,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,1883-1889,0.0,Unprovoked,PANAMA,0,"Panama Bay 8ºN, 79ºW",0,M,0,FATAL,Y,0,0,"The Sun, 10/20/1938"
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,0,0,S.W. Baker

In [375]:

attacks_4['Year'] = attacks_4.Year.astype(np.int64)
attacks_4

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,0,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,0,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,0,Minor injury to lower leg,N,0,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,0,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,0,FATAL,Y,0,0,"H. Taunton; N. Bartlett, p. 234"
6298,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,0,Pearl diving,M,0,FATAL,Y,0,0,"H. Taunton; N. Bartlett, pp. 233-234"
6299,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,0,FATAL,Y,0,0,"F. Schwartz, p.23; C. Creswell, GSAF"
6300,1883-1889,0,Unprovoked,PANAMA,0,"Panama Bay 8ºN, 79ºW",0,M,0,FATAL,Y,0,0,"The Sun, 10/20/1938"
6301,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,0,0,S.W. Baker

In [376]:
# quito los espacios de los nombres de las columnas
attacks_4.rename(columns={'Species ': 'Species'}, inplace=True)
attacks_4.columns = attacks_4.columns.str.strip()

In [377]:
set(attacks_4['Type'])

{0,
 'Boat',
 'Boating',
 'Boatomg',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Unprovoked'}

In [378]:
# Llamo a boating, boat, boatomg de la misma forma
attacks_4['Type'] = attacks_4['Type'].str.replace('Boating','Boat')
attacks_4['Type'] = attacks_4['Type'].str.replace('Boatomg','Boat')

In [347]:
set(attacks_4['Activity'])

{0,
 'Swimming & snorkeling',
 'Wading to shore after surfing',
 'Cleaning a tank',
 'Jumping in swells',
 'Diving off pier & treading water',
 'Washed off catamaran in the surf',
 'Skindiving, fish at belt',
 'Splashing ',
 'Riding horseback across the creek',
 "Captured Allied soldiers were squeezed into 3' bamboo pig baskets & fed to waiting sharks",
 'Swimming from shore to anchored sailboat',
 'Skindiving for abalone (but at surface)',
 'Ocean racing',
 'Swimming in midriver near sewage outlet & 400 m from a slaughterhouse',
 'SUP',
 'Investigating shark sighting',
 'Boogie boarding / wading',
 'Free diving / Photographing pilot whales',
 '"Riding waves on a board"',
 'Ship Mariston torpedoed & sunk',
 'Scuba diving for abalone (at surface)',
 'Free diving & spearfishing',
 'Paddle Skiing',
 'Scooping prawns',
 'Splashing',
 'On inflatable raft',
 'Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net',
 'Attempting to set underwater endurance record',
 'Bathing near whaling ship (bark A. R. Tucker of New Bedford, Massachusetts)',
 'Lifesaving exhibition',
 'Wade Fishing',
 'Surfing',
 'Swimming from capsized pirogue',
 'Swimming/',
 'Swimming / Body Surfing',
 'Scuba diving, hand feeding sharks',
 'Sight-seeing',
 'Fishing, probably with a net',
 'Splashing in surf',
 'Skindiving,',
 'Fishing boat swamped in storm',
 'Diving from canoe',
 'Standing, collecting sea stars',
 'Spearfishing & holding catch',
 'Crossing inlet in a boat, seen fighting sharks with his oar, sharks smashed boat',
 'Surf paddling',
 "Filming 5' blue shark",
 'Boogie boarding, kicked at object in the water',
 'Fell overboard from the Sobella',
 'In water with diving seabirds',
 'U-177 torpedoed & sank the troopship Nova Scotia',
 'Freediving for seashells',
 'Free diving / photography, kneeling on sand',
 'On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people',
 'Paddleskiing',
 'Capsized fishing boat',
 'Ascending from a dive',
 'Escaping from Alacatraz',
 'Board sailing',
 ' ',
 'Swimming near his boat',
 'Working near fish traps',
 'Fishing',
 'Conducting a promotional film project for the Gemini space program (a practice astronaut recovery)',
 'Bathing',
 'Swimming from capsized boat',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Removing hook from shark',
 'Bathing alongside ship',
 'Collecting crayfish',
 'Swimming, ducking for shells in water 0.9 m deep',
 'Sea Disaster, sinking of the fishing  launch Mavis',
 'boat with 46 people on board capsized',
 'Swimming from camp',
 'Swimming / treading water',
 'Walking / surfing',
 '3 men & 2 boys picked up wearing life jackets and with inner tube',
 'Fishing for trout ',
 'Fishing, speared shark upset canoe & man fell in water',
 'Spearfishing, but swimming at surface',
 'Fishing, removing the shark from his line',
 'Sea Disaster, sinking of the  SS Vestris',
 'Standing or boogie boardin',
 'The 168-ton Belmore foundered in heavy seas',
 'Spearfishing, speared a small shark',
 'Scuba diving, reportedly also spearfishing',
 "Bathing in 3' to 4' of water",
 'He drowned when boat capsized',
 'SS Ethel Skakel foundered in Central America Hurricane of 1941',
 'Crew swimming alongside their anchored ship',
 "Sitting in bow of her father's 5 m boat",
 'Floating on an inflatable raft',
 'Rowing toward snapper grounds',
 'Fell overboard from USS Ward',
 'Parachuted into Pacific',
 'Swimming, poaching perlemoen',
 'Fishing for perch',
 'Plane crashed in water, men in life raft',
 'Resting on surfboard',
 'Swimming. Passer-by, Len Bedford, heard him shriek , saw shark leap from the water & swimmer disappeared',
 'Air/Sea Disaster Pan-American Airlines Stratocruiser with 44 people onboard crashed into the sea',
 'Fishing, hauling in a 5-lb snapper',
 'The troopship Britannia was sunk by the German raider Thor',
 'Fishing in ankle-deep water',
 'Retrieving bait box that had fallen overboard',
 'Fishing / diving',
 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
 'Sitting on side of dinghy mending a net',
 'Pulling anchor',
 'Attempting to escape by swimming to shore',
 'Treading water while alongside capsized yacht',
 'Gaffing & attempting to bring onboard a harpooned shark',
 'Swimming at side of small boat',
 'The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
 'Fishing boat swamped in a storm',
 'Diving?',
 'Dived into a school of baitfish',
 'Spearfishing / free diving',
 'Ran into the water',
 'Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
 'Body found on deserted luxury yacht, 38’ Christine',
 'Standing / Snorkeling',
 'Small vessel with 13 men on board capsized crossing the bar and 6 men drowned.  The 7 survivors were swimming to shore',
 'Helmet diving in Miami Seaquarium',
 'S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water',
 'Wreck of the 1308-ton Norwegian ship Auckland',
 'Swimming / Body surfing',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 'In boat being towed by ship, Karnak',
 'Paddling a canoe',
 'Body surfing?',
 "Standing on landed shark's tail",
 'M.V. Tropical sank. Sole survivor rode oil drums for 8 days without food or water.',
 'Fishing, hooked shark towed boat out to sea, storm swamped boat',
 'Kite surfing',
 'wreck of the State Oil Company ship Permina',
 'Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew',
 'Playing soccer in the water',
 'Cutter capsized',
 'Filming & feeding captive sharks',
 'Examining netted shark, that had been shot',
 'Washing clothes',
 'Fell overboard, hanging onto lifebuoy',
 'Watching seals',
 'On boat, preparing to dive',
 'Cleaning hull of ship ',
 'Wading, knocked down & swept away by large waves',
 'Riding floatation device',
 'Moving a shark in a net ',
 'Fishing for lobsters',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 "63' fishing boat Sno' Bay foundered",
 'Tuna fishing, standing on stern platform that was submerged by waves',
 'Swept off deck of S.S.Frontenac enroute from West Indies to US',
 'Bathing in waist-deep water',
 'Freediving for abalone (at surface)',
 'Gaffing netted shark',
 "Adrift on a 4'  raft for 32 days",
 'Collecting fish by lamplight in gully',
 'Crabbing',
 'boat capsized during filming',
 'Murdered by Thai pirates',
 'B-24 aircraft crashed  into the sea',
 'Diving for pearls',
 'Diving. Shark “swallowed’ his hand, so he threw his other around the shark and went “shark-back riding” for 30 yards until the shark opened its jaws',
 'Crossing the river mouth',
 'Fishing with hand line tied to wrist & was pulled into the water',
 'Free diving, carrying speargun',
 'Surfing, but lying prone on his board',
 'Swimming in waist-deep water ',
 'Yacht of Michael Howell capsized',
 'Boat capsized, clinging to line',
 'Bathing with sister',
 'Kite Boarding',
 'Fishing for white sharks',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Adrift on raft after their ship was sunk by an Axis raider ',
 'Sea Disaster, sinking of the motorship Wingate',
 'Sea disaster, wreck of the sloop Sara',
 'Commercial diver (submerged or treading water)',
 'Floating, after falling or jumping off the Standard Oil tanker Frederick W. Weller',
 'Fishing for octopus',
 'Working prawn net',
 'Surfing, fell off surfboard',
 'Sleeping in anchored boat',
 'Swimming along side N.E.L. vessel Saluda',
 'The 2379-ton French steamer La Seyne collied with British steamer Onda & sank in minutes. Passengers jumped overboard expecting to be picked up by Onda’s boats',
 'Taking catch from a fish weir in which the shark was snared',
 'Racing ski',
 'Diving into water',
 'Fishing for sharks',
 'Small boat swamped, 4  people swimming to shore but he fell behind the other 3 and vanished',
 'Swimming out to rescue swimmers in difficulty',
 "Diving for trochus  from dinghy when seized by shark 6' below the surface",
 'Snorkeling, possibly holding a fish',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 'Dragging stranded shark ashore',
 'Spearfishing (but on surface)',
 'Gloucester fishing schooner run down',
 'Diving (Helmet) for sponges',
 'In rubber dinghy with Captain Eddie Rickenbacker for 21 days. ',
 'Spearfishing / Scuba diving (at surface)',
 'Diving, recovering fish killed by dynamite',
 "Fishing from 34' boat when pulled overboard by hooked shark",
 'Shell Diving',
 'Spearfishing or fishing',
 'Floating face-down in knee-deep water',
 'Goggle-diving for seaweeds, but standing in water',
 'Hiking on the beach',
 'Swimming from fishing boat setting nets',
 'Swimming near jetty',
 'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas',
 'Body surfing or body boarding',
 'Fell oveboard',
 'Playing in knee-deep water',
 'Diving around anchored liner',
 'Walking on reef',
 'Bodyboarding',
 'Kayak fishing for sharks',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'Measuring sharks',
 'Canoe swamped, swimming back to canoe',
 'Fishing for bottom fish',
 'Fishing from prawn trawler',
 'Fishing for red fish',
 'Jerked overboard while pole fishing for tuna',
 'Resting on body board',
 'Boat swamped',
 'Jumped into the water from a cliff',
 'Surfing / Wading',
 'Swimming, carrying tin can with mail to steamer',
 'The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21',
 'Fell into the water',
 'Helmet diving, collecting trochus shell',
 'Swimming (using a float)',
 'Surf fishing / wading',
 'Diving for coins',
 'Attempting to drag hooked shark ashore by its tail',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'Sea disaster, wreck of the Alfred Watts',
 'Commercial spearfishing',
 'Canoeing',
 "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'Standing in knee-deep water',
 'Swimming with boogie board',
 'The 500-ton coastal trader Polurrian foundered ',
 'Free diving for abalone (submerged)',
 'Japanese aircraft shot down. He was one of two survivors rescued by the U.S. destroyer Mugford',
 'Dragging stranded shark into deeper water',
 '4 men were bathing',
 'Swimming or boogie boarding',
 'Jumped overboard while intoxicated',
 'Jumped off surfboard & landed on the shark',
 'Sea disaster',
 'NSB Meshing',
 'Standing / Surfing',
 'Hookah diving (submerged)',
 'Swimming in strong current with 3 others when he disappeared',
 'Swimming or wading out  to warn bathers that a shark had been seen',
 "Lying prone in 2' of water",
 'Walking, carrying surfboard & stepped on shark',
 'SUP Foil boarding',
 'Fishing for turtles',
 'Swimming, towing the shark',
 'On life raft tethered to lifeboat. A seaman put hand over side to rinse a cup',
 'Swimming after his canoe capsized',
 'Boogie boarding or Surfing',
 'Fishing from market fishboat Sea Spray',
 'Diving & fishing with net',
 'Diving / UW photography',
 '17 Maldivians adrift in open boat for 31 days',
 'Kakaying',
 'Sitting on surfboard',
 'Swimming around anchored ship',
 'Diving on a wreck',
 'Conch diver',
 'Attempting to swim across the Atlantic Ocean',
 'Hookah diving for sea urchins',
 'Bathing in knee-deep water',
 'Swimming on sandbar adjacent to channel',
 'Wade fishing',
 'Splashing / wading',
 'boat capsized',
 'Feeling the shark’s teeth',
 'Scurfing (surfboard being  towed behind a boat)',
 'Fell overboard from the Malacca',
 'Fly fishing',
 'Diving / Filming',
 'Kayaking / Fishing',
 'The inter-island ferry Vula sank in heavy weather',
 'Swimming, wearing black wetsuit & swim fins',
 'Diving for Abalone',
 'Fishing for kob',
 'American minesweeper USS YMS-472 foundered in a typhoon - swimming to shore',
 'Crayfishing',
 'Moving shark from tuna vessel when boat rolled, placing both man & shark in chest-deep water',
 'Wreck of the 150-ton brig Maria',
 'Hookah Diving',
 'Fishing, fell in water & swimming strongly to shore',
 'Lashing logs together when he fell into the water',
 'Boat, with 42 passengers onboard, capsized in rough seas',
 'Floating in creek',
 'Boarding a ship',
 'Spearfishing, shot a sandtiger shark. Cord to spear tangled round his legs & a wave washed him onto a reef.',
 'Hookah diving for pen shells ',
 'Touching a shark',
 'Swimming alongside the schooner Catherine Wilcox',
 'Shooting sharks ',
 'Fell overboard from steamship Rio Grande',
 'Swimming / shipwreck',
 'His balloon crashed in the harbor',
 'Free diving for sinkers',
 'Bathing / standing',
 'Hunting seashells',
 'Free diving for abalone',
 'Diving / Kissing the shark',
 '   ',
 'Sitting in shallows',
 'Defecating in water beneath the docks',
 'Spearfishing / swimming on surface',
 'Wading after stray fish from seine netter’s catch',
 'Floating with life preserver after his boat foundered',
 'Killing a shark',
 'Wading, when he stepped on the shark',
 'Standing, stepped on shark',
 "Lying on the bottom of a 16' dinghy",
 'Inebriated, woke from sleep and fell off deck into the water ',
 'Surf-fishing',
 'Thrown into water from fishing dinghy',
 'Hoisting shark aboard fishing boat',
 'Filming underwater, carrying powerhead',
 'Pearl diving from lugger Whyalla',
 ' a canoe was pursuing a schooner that had forcibily abducted 5 young girls',
 'Standing, collecting bananas',
 'Sailing from Gingood, Misamis Oriental to Sagay (normally a 2-day voyage) capsized with 6 on board, three men were taken by sharks when they attempted to swim to shore.',
 'Shark fishing on the Ricardo Astorga',
 'Sea Disaster',
 'Attempting to illegally enter the USA',
 'Pearl diving, but standing in the water',
 'Bending over',
 'Swimming a quarter mile offshore',
 'ship M.V. Rizal sank during typhoon',
 'Boogie Boarding',
 'Boating',
 'Harassing a shark',
 'Bathing alongside the American ship Thomas W. Sears',
 'Tech diving ',
 'Fishing for rock lobsters',
 'Walking out of the water after surfing',
 'Holding onto an inflatable boat',
 'The cutter Francis Adams foundered',
 'A barque wrecked',
 'Snorkeling',
 'Splashing in water ',
 'Scuba diving for abalone',
 'Wreck of the Sovereign',
 'Swimming with goggles',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Free diving',
 'Standing / surfing',
 'A dhow capsized',
 'Canoe capsized with 10 occupants, 8 survived,  Hamilton swam off to seek help',
 'Walking',
 'Diving off wharf',
 'Fishing, holding fish in his left hand',
 'Attempting to ride a shark',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Lobster fishing',
 'Attempting to attract dolphins',
 'Surfing with dolphins',
 'Floating on his back in an inner tube',
 'British cruiser Dunedin torpedoed & sunk by the U-124',
 'Swept overboard',
 'Bathing alongside US Naval ship',
 'Adrift after wave swamped engine',
 'Jumped off rocks into white water',
 'Slipped off rocks and fell into the water',
 'Swimming /  boogie boarding',
 'Ferry boat sank',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Watching the shark feeding on a dead pinniped',
 'Surf fishing',
 'Playing',
 'boat from City of Naples capsized',
 'Vessel capsized, wading ashore carrying an oar',
 'Spear fishing',
 'Spearfishing, carrying fish on belt',
 'Bringing hooked, harpooned shark onboard boat',
 'Fishing from dory, shark upset boat & he fell into the water',
 "Fell from his father's back into the water",
 'Scuba diving (but on surface)',
 'Surf skiing',
 'Fishing / Wading',
 'Washing sand off a speared fish',
 'Bathing or washing',
 'Boogie boarding',
 'Fishing, setting nets',
 'Swimming near breakwater',
 'cargo ship Southern Isle sank at 04h00',
 'Fishing, sitting in stern of small boat, feet dangling in the water',
 'Night bathing',
 'The SS Potlach was torpedoed & sunk by the U-153 on 27-Jun-1942. ',
 'Bather',
 'Collecting fish from net',
 'Swimming to shore from capsized sailboat',
 'Collecting marine specimens',
 'Swimming to shore after boat capsized by a squall',
 'Sponge divers',
 'Diving alongsidethe steamship Ranelagh ',
 'Hurricane & Tidal Wave',
 'Swimming near canoe',
 'Clamming',
 'Hilo',
 'Body found floating next to his ship',
 'Attempting to fix motor',
 'Petting a shark',
 'Free diving for molluscs',
 'Spearfishing',
 'Spearfishing on Scuba',
 'Skimboarding',
 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S',
 'Helping men land a shark',
 'Seining for bait, standing in chest-deep water',
 'Attempting to anesthetize shark',
 'Fell overboard, prop slashed arm',
 'Bathing ',
 'Treading water',
 'Surfing, but standing in water alongside board',
 "Diving in Sharkey's Reef restaurant’s aquarium",
 'Sea Disaster, wreck of the  SS Norwich City',
 'Free diving with seals',
 'Argentine Air Force C-54',
 'Helping angler land a shark',
 'Longline fishing',
 'Fishing, shark caught in his net',
 'Fell overboard from SS Ripley Castle',
 'Free diving Spearfishing',
 'Boat',
 'Fell overboard while fishing for sharks',
 'Painting a ship',
 'Standing / fishing',
 'fishing boat exploded & sank',
 'Parachuted from balloon',
 'Free diving, collecting sand dollars',
 'Standing, gathering oysters',
 'Filming a documentary',
 'Grabbing shark for a selfie',
 'Walking in surf',
 'Hookah diving for abalone (descending)',
 'Kite boarding',
 'Sea Disaster Sinking of ferryboat Christina',
 '"Flying Tiger" transport plane went down with 5 men onboard',
 'Free diving for trochus ',
 'Surfing, paddling shorewards',
 'Feeding a shark',
 'Feeding prawns to captive sharks',
 'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas',
 'Knocked overboard',
 'Fishing for bluefish',
 'Freedom Swimming',
 'Standing on sandbar',
 "Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water",
 'Unknown, their unoccupied yawlboat was recovered',
 'Fishing for albacore',
 'The passenger ship Pioneer Cebu  capsized & sank in Typhoon Irma',
 'Shrimping',
 'Swimming beside launch',
 'Scuba diving (submerged riding a scooter)',
 'Lying prone on surfboard',
 'Plane forced down, 3 men on rubber life raft. Put hand over side to feel drift of boat ',
 'Swimming after a tennis ball',
 'Swimming alongside NOAA research vessel Discoverer',
 'On expedition filming a feature movie & standing on tripod',
 'Diving for beche-de-mer ',
 'Fishing in shoulder-deep water',
 'Fell oveboard from steamer Wanderer',
 'Standing in water with child in her arms',
 'Fishing / standing in waist deep water',
 'Loss of the schooner Nomad',
 'Washing a dog',
 'Scuba diving & spearfishing',
 'Jumped out of canoe',
 'Wading with surfboard',
 'Swimming & splashing',
 'Shipwrecked Persian Fleet',
 'Night diving',
 'Hunting turtle',
 'Spearfishing, but swimming on surface',
 'Fell overboard from the ship Gem',
 'Aircraft ditched in the sea, swimming ashore',
 'Shark watching',
 "Days before the surrender of Singapore, the 3 men escaped to Sumatra where they acquired a 17' dinghy. After 125 days at sea they drifted back to Sumatra",
 'Lobstering',
 'Finning the shark that bit him',
 'Wrangling a shark',
 'Diving off jetty',
 'Standing / Wading',
 'Kitesurfing',
 'Body Boarding',
 'The boat Caribou II sank',
 'Fishing trawler Flavio Gioia ',
 'Swimming to retrieve a flannel',
 'Stuffing a shark into an automobile',
 'Standing',
 'Swimming, towing an empty barrel',
 'Observing a shark feeding on a carcass of a humpback whale',
 'Attempting to net shark in shark channel',
 'Gigging for flounder',
 'Floating on air mattress',
 'Free diving, collecting shells',
 'Washing hands',
 'Scuba Diving',
 'Netting pilchards',

In [379]:
set(attacks_4['Type'])

{'Boat',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Unprovoked',
 nan}

In [349]:
attacks_4.to_csv('attacks_4.csv')